.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
.idea/
.vscode/
.DS_Store
